.banner {
  h1 {
    font-size: 2rem;
    line-height: 3.5rem;
    font-weight: 500;
  }

  input {
    margin-right: 2rem;
    font-size: 1.5rem;
    width: 100%;
    border: 3px solid $lavender50;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  input:focus {
    outline: none;
  }

  .emailform-message {
    font-size: 1rem;
  }
}

.hero {
  display: flex;
  align-items: center;
}

.people {
  display: none;
}

.intext-logo {
  padding-left: 1rem;
}

@media screen and (min-width: 768px) {
  .banner {
    form {
      display: flex;
    }
    .emailform-message {
      font-size: 1.5rem;
    }
  }
}
