.banner {
  h1 {
    font-size: 3rem;
  }

  form {
    display: flex;
    width: 100%;
  }

  input{
    margin-right: 2rem;
    width: 70%;
    font-size: 1.5rem;
  }
}

.hero {
  display: flex;
  align-items: center;
}
