.banner {
  margin-bottom: 1rem;

  h1 {
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: 500;
    margin-top: 3rem;
  }

  input {
    margin-right: 2rem;
    font-size: 1.25rem;
    width: 100%;
    border: 2px solid $lavender50;
    border-radius: 0.5rem;
    padding: 1rem 1rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  input:focus {
    outline: none;
  }

  .emailform-message {
    font-size: 1rem;
    font-weight: 400;
  }

  .button {
    margin-top: 1rem;
  }
}

.hero {
  display: flex;
  align-items: center;
}

.intext-logo {
  height: 2rem;
}

.people {
  display: none;
}

@media screen and (min-width: 768px) {
  .banner {

    margin-bottom: 2rem;

    h1 {
      font-weight: 700;
      font-size: 2.5rem;
    }

    form {
      display: flex;
      align-items: center;
    }

    input {
      width: 70%;
      margin-right: 0.5rem;
    }

    .emailform-message {
      font-size: 1.25rem;
      margin-bottom: 0.5rem;
    }

    .button {
      margin-top: 0;
      font-size: 1.5rem;
    }
  }

  .intext-logo {
    height: 3rem;
  }

}

@media screen and (min-width: 992px) {
  .people {
    display: block;
    width: 400px;
  }
}
