.button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: bold;
  width: fit-content;
  font-size: 1rem;
  white-space: nowrap;
}

.button-lavender {
  background-color: $lavender;
  color: white;
}

.button-mint {
  background-color: $mint;
  color: white;
}

.button-white {
  background-color: white;
  color: $lavender;
}
