.contactform {
  input[type="text"],
  input[type="email"] {
    border: none;
    border-bottom: 1px solid grey;
    font-size: 1rem;
    margin: 1rem 0;
    width: 100%;
    border-radius: 0%;
    box-shadow: none;
  }
  input:focus {
    outline: 0;
  }
  input[type="checkbox"] {
    transform: scale(1.5);
    margin-right: 1rem;
  }
}

.contactform {
  margin: 0 auto;
  margin-top: 2rem;
  width: 90%;
}

footer {
  margin-top: 3rem;
  border-top: 1px solid black;
  padding-bottom: 1rem;

  .row > * {
    width: 100%;
  }

  p {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .footer-sections {
    display: flex;
    justify-content: center;
  }

  a {
    color: black;
    text-decoration: none;
  }

  .footer-section + .footer-section {
    margin-left: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .contact-row {
    display: flex;
  }

  footer {
    .footer-section + .footer-section {
      margin-left: 20rem;
    }
  }
}

@media screen and (min-width: 992px) {
  .contactform {
    width: 70%;
  }
}
