.section-tagline {
  font-size: 2rem;
  margin-top: 4.5rem;
  margin-bottom: 1rem;
}

.section-description {
  color: $black50;
  margin: 0;
}

.text-center {
  text-align: center;
}

.row {
  display: flex;
}

.vflip {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
