header {
  color: black;
}

.logo {
  height: 3rem;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-link {
  cursor: pointer;
}

.nav-link:hover:not(.nav-active) {
  border-bottom: 3px solid $lavender50;
}


.nav > * {
  margin: 0 1rem;
  border-bottom: 3px solid transparent;
}

.nav-active {
  border-bottom: 3px solid $lavender;
}

#countdown {
  width: 100vw;
  text-align: center;
  background-color: $mint;
  margin: 0 -1rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  header {
    display: flex;
  }

  #countdown {
    background-color: transparent;
    width: 100%;
    display: block;
    text-align: right;
  }
}
