#target {
  cursor: pointer;
}

.InfoArea {
  width: 45%;
  text-align: justify;
  h3 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 1.8rem;
    border-bottom: 1px solid rgba($color: rgb(94, 94, 94), $alpha: 0.4);
  }
  p {
    margin-top: 0px;
    font-size: 1.5rem;
  }
}

#dateText {
  font-weight: 600;
}

.Date {
  margin-left: 25px;
}

.hide {
  display: none;
}

.margin-right {
  margin-right: 125px;
}
