.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  display: flex;
}

.modal {
  .popup {
    background-color: white;
    margin: auto;
    width: 100%;
    padding: 3rem;
    border-radius: 0.5rem;
    text-align: center;
  }

  .popup-close {
    cursor: pointer;
    float: right;
    width: 3rem;
    margin-right: -1rem;
    margin-top: -1rem;
  }

  .tag-text {
    text-align: left;
  }

  .tag-image {
    max-width: 90%;
  }

  .tag-title {
    font-size: 2rem;
  }
}

.popup {
  h2 {
    font-weight: bold;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    .popup {
      width: 550px;
      border: 3px solid $lavender50;
    }

    .tag-text {
      font-size: 1.25rem;
    }

  }
}
