.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  display: flex;
}

.modal {
  .popup {
    background-color: white;
    margin: auto;
    width: 759px;
    padding: 3rem;
    border-radius: 0.5rem;
    border: 3px solid $lavender50;
    text-align: center;
  }

  .popup-close {
    cursor: pointer;
    float: right;
    width: 3rem;
    margin-right: -1rem;
    margin-top: -1rem;
  }
}

.popup {
  h2 {
    font-weight: bold;
  }
}
