.member-description {
  text-align: left;
  margin: 1rem -2rem;
}

.member-frame-content {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.modal-avatar {
  width: 272px;
}

.member-right-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 272px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

.member-header {
  width: 80%;
  text-align: center;
  margin: auto;

  h1 {
    margin-top: 0;
  }
}

.member-interests {
  display: none;
}

.interest-title {
  font-weight: bold;
}

.social-icon {
  width: 48px;
  padding: 0 1rem;
}

@media screen and (min-width: 768px) {
  .member-interests {
    display: block;
    margin-right: 3rem;
  }
}
