.member-frame-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  // flex-direction: column;
}

.member-frame{
  position: absolute;
  width: 759px;
  margin: auto;
  border: 2px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 16px;
  padding: 20px 50px;
}

.member-frame img {
  width: 272px;
}

.member-right-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 272px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

.member-header {
  width: 80%;
  text-align: center;
  margin: auto;
}

.member-interests {
  margin-top: -70px;
}