.tilerow {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tagline {
  border-radius: 0.5rem;
  height: calc(375px - 1rem);
  margin: 1rem 0rem;
  text-align: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 100%;
  box-sizing: border-box;
  position: relative;
}

.tile-half {
  width: calc(375px - 1rem);
}

.tile-full {
  width: calc(375px - 1rem);
}

.tagline {
  h3 {
    font-size: 2.5rem;
  }
}

.tile-lavender {
  background-color: $lavender;
}

.tile-black {
  background-color: #000;
}

.tile-white {
  background-color: #FFF;
  border: 3px solid $lavender50;
}

@media screen and (min-width: 768px) {

  .tile-full {
    width: calc(375px + 375px + 1rem);

    .tag-right {
      position: relative;
      height: 100%;
      float: right;
      margin-right: 4rem;
    }
  }

  .tagline + .tagline {
    margin-left: 1rem;
  }

}

@media screen and (min-width: 992px) {

  .tile-half {
    width: 467px;
  }

  .tile-full {
    width: calc(467px + 467px + 1rem);
  }

  .tagline {
    height: 467px;

    h3 {
      font-size: 3.5rem;
    }
  }

}
