.tilerow {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tagline {
  border-radius: 0.5rem;
  height: 360px;
  margin: 1rem 0rem;
  text-align: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 100%;
  box-sizing: border-box;
  position: relative;
}

.tile-half {
  width: 360px;
}

.tile-full {
  width: 360px;
}

.tagline {
  h3 {
    font-size: 2.5rem;
  }
}

.tile-lavender {
  background-color: $lavender;
}

.tile-black {
  background-color: #000;
}

.tile-white {
  background-color: #FFF;
  border: 3px solid $lavender50;
}
