@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

h1{
  font-weight: 300;
}

.wrapper {
  height: 100vh;
  width: 100vw;

  position: relative;
  background: linear-gradient(124deg, #2b1de8, #e81d1d, #e8b71d, #e3e81d, #7404f4c2, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;
  -webkit-animation: rainbow 39s ease infinite;
  -z-animation: rainbow 39s ease infinite;
  -o-animation: rainbow 39s ease infinite;
    animation: rainbow 39s ease infinite;
}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

.place_wrapper{
  width: 100%;
  height: 100%;
  position: absolute;
   display: flex;
    justify-content: center;
    align-items: center;
    left:0;
  right: 0;
  top: 0;
  bottom: 0;
}

.hide{
  display: none;
}

#tag-line, #time{
    /* referring directly to the animation's @keyframe declaration */
  animation-duration: 3s;
}

#target{
  cursor: pointer;
}

img{
  max-height: 40px;
}

.logo{
  animation-duration: 3s;
}
