@import "components/fonts";
// @import "components/animation";
@import "components/header";
@import "components/middleText";
@import "components/banner";

* {
  cursor: default;
}

.container {
  display: flex;
  color: white;
  padding: 0 5%;
  margin-top: 200px;
  h1,
  #date {
    margin-top: 45px;
    font-size: 2.4rem;
    font-family: "Bellota Text", cursive;
  }
}

.App {
  padding: 1rem 3rem 0 3rem;
}
