@import "components/fonts";
// @import "components/animation";
@import "components/header";
@import "components/middleText";

* {
  cursor: default;
}

html,
body,
#root,
.App {
  height: 100%;
}

.container {
  display: flex;
  color: white;
  padding: 0 5%;
  margin-top: 200px;
  h1,
  #date {
    margin-top: 45px;
    font-size: 2.4rem;
    font-family: "Bellota Text", cursive;
  }
}

.App {
  padding: 1rem;
}
