@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:wght@400;700&display=swap");

@import "components/colors";
@import "components/header";
@import "components/people";
@import "components/banner";
@import "components/buttons";
@import "components/general";
@import "components/footer";
// @import "components/taglineTile";
@import "components/modal";
@import "components/peoplePopup";
@import "components/slider";

.App {
  font-family: "Roboto", sans-serif;
  width: 375px;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  width: 100vw;
}

#root {
  margin: 0 auto;
  overflow-x: hidden;
}

@media screen and (min-width: 768px) {
  .App {
    width: 768px;
  }
}

@media screen and (min-width: 992px) {
  .App {
    width: 992px;
  }
}
