html,
body,
#root,
.App {
  height: 95%;
}

.App {
  display: flex;
  justify-content: center;
  padding-top: 150px;
  background: linear-gradient(to top right, #625ffc, #e7a9eb);
}

.App-logo {
  max-width: 300px;
}
