@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

@import "components/colors";
@import "components/header";
@import "components/people";
@import "components/banner";
@import "components/buttons";
@import "components/general";
@import "components/footer";
@import "components/taglineTile";
@import "components/modal";

.App {
  font-family: 'Montserrat', sans-serif;
}
