@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

@import "components/colors";
@import "components/header";
@import "components/people";
@import "components/banner";
@import "components/buttons";
@import "components/general";
@import "components/footer";
@import "components/taglineTile";
@import "components/modal";
@import "components/peoplePopup";
@import "components/slider";

.App {
  font-family: 'Montserrat', sans-serif;
  width: 360px;
  margin: 0 auto;
  padding-top: 0.5rem;
}

body {
  margin: 0;
  width: 100vw;
}

#root {
  margin: 0 auto;
}
