@import "../../styling/components/_colors.scss";
header {
  color: black;
}

.logo {
  height: 4rem;
  margin-bottom: 0.5rem;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-link {
  cursor: pointer;
}

.nav-link:hover:not(.nav-active) {
  border-bottom: 3px solid $lavender50;
}

.nav > * {
  margin: 0 1rem;
  border-bottom: 3px solid transparent;
}

.nav-active {
  border-bottom: 3px solid $lavender;
}

#countdown {
  width: 375px;
  text-align: center;
  background-color: $mint;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 -1rem;

  span {
    margin-left: 0.5rem;
    font-weight: 500;
  }
}

@media screen and (min-width: 768px) {
  header {
    display: flex;
  }

  #countdown {
    background-color: transparent;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: right;
  }
}
