@import "../../styling/components/_colors.scss";

.contactform {
  input[type="text"],
  input[type="email"] {
    border: none;
    border-bottom: 1px solid grey;
    font-size: 1rem;
    margin: 1rem 0;
    width: 100%;
    border-radius: 0%;
    box-shadow: none;
  }
  input:focus {
    outline: 0;
  }
  input[type="checkbox"] {
    transform: scale(1.5);
    margin-right: 1rem;
  }
}

.contactform {
  margin: 0 auto;
  margin-top: 2rem;
  width: 90%;
}

footer {
  margin-top: 3rem;
  border-top: 1px solid black;
  padding-bottom: 1rem;

  .row > * {
    width: 100%;
  }

  p {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .footer-link {
    color: black;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    width: fit-content;
    text-decoration: underline;
  }

  .footer-link.active {
    color: $lavender;
    text-decoration: underline;
  }

  .footer-link.inactive {
    text-decoration: none;
  }

  .languages {
    display: flex;
  }

  .languages > p {
    margin-right: 1rem;
  }
}

@media screen and (min-width: 768px) {
  footer {
    .languages {
      display: block;
    }
  }
  .footer-sections {
    display: flex;
    justify-content: space-between;
  }

  .contact-row {
    display: flex;
  }
}

@media screen and (min-width: 992px) {
  .contactform {
    width: 70%;
  }
}
